{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Hotel Santa Eugenia</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" >
    
	<link rel="stylesheet" media="screen and (min-width: 900px)" type="text/css" href="./static/css/windescreen.css">
	<link rel="stylesheet" media="screen and (max-width: 600px)" type="text/css" href="./static/css/smallscreen.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
	<section class="weaper">
		<section>
			<div>
			<header>
				<div>
					<img src="./images/logohotel.png">
				</div>
				<div>
					<h1>Hotel Santa Eugenia</h1>
				</div>
			</header>
			</div>
			<div>
				<nav>
					<ul>
						<li><a href="index.html">Inicio</a></li>
						<li><a href="habitaciones.html">Habitaciones</a></li>
						<li><a>Ayuda</a>
							<ul>
								<li><a href="contactenos.html">Contactenos</a></li>	
								<li><a href="ubicanos.html">Ubicanos</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</section>	
		<hr>
		<div id="inicio">
			<img src="./static/images/cama2.jpg">
		</div>
		<video controls helght="240" poster="./static/images/cama1.jpg">
			<source src="./static/multimedia/videohotel.mp4" type="video/mp4">
		</video>
		<hr>
		<h2>¿Quienes somos?</h2>
		<div class="image">
                    <h3>VISION</h3>
       	 	<strong>
          		<p>
           	 		Satisfacer las necesidades de nuestros  huéspedes superando sus expectativas, brindándoles productos y servicios de calidad y amigables  con el medio ambiente a través de nuestros colaboradores. Aportar al desarrollo económico y turístico de la Región mediante nuestro compromiso de excelencia e innovación, generando a nuestros accionistas un crecimiento continuo  y sostenible año tras año.
         	 </p>
        	</strong>
                     <h3>MISION</h3>
        	<strong>
         	 	<p>
           			 Ser en el año 2021 el hotel mas reconocido en Huancayo, tanto por su infrestructura como sus servicios. Brindando atención de excelente calidad, con unas instalaciones modernas dirigidas a clientes del sector comercial y empresarial que visitan la ciudad, contando con una alta ocupación a nivel nacional e internacional.
         		 </p>
        	</strong>
        </div>
		<footer>
			<div>
				<a href="https://www.facebook.com/EmperadorSuite/?epa=SEARCH_BOX">
					<img src="./static/images/facebook2.png">
				</a>
			</div>
			<div>
				<strong>Telf:(064) 224344</strong>
			</div>
			<div>
				<strong>Ubicacion: Jr.Ayacucho #240</strong> 
			</div>
		</footer>
	</section>
</body>
</html>